* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Space Grotesk", sans-serif;
  text-decoration: none;
}

/* leadership team */

.team {
  position: relative;
  width: 100%;
  height: 100vh;
  background: radial-gradient(#281c3e, #0f051d);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.container h3 {
  color: #fff;
  font-size: 2rem;
  text-align: center;
}
.container h5 {
  color: antiquewhite;
  margin-top: 10px;
  text-align: center;
  letter-spacing: 2%;
  font-size: 1rem;
}

.team-content {
  width: 100%;
  max-width: 1350px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, auto));
  align-items: center;
  gap: 2rem;
  text-align: center;
  margin-top: 2rem;
}
.team-content img {
  width: 160px;
  height: 160px;
  border-radius: 60%;
  margin-bottom: 15px;
}

.center h3 {
  margin-top: 5%;
  color: #fff;
  font-size: 1.5rem;
  text-align: center;
}

.center h4 {
  background-color: violet;
  color: aliceblue;
  margin-top: 5%;
  letter-spacing: 3px;
}

.box {
  padding: 16px;
  background: #1b1229;
  border-radius: 15px;
  transition: all 0.38s ease;
}
h3 {
  font-size: 23px;
  font-weight: 600;
  color: #fff;
  margin-bottom: 8px;
}
h5 {
  font-size: 15px;
  font-weight: 600;
  color: #b7b4bb;
  margin-bottom: 15px;
  letter-spacing: 2px;
}
.icons i {
  display: inline-block;
  color: #fff;
  font-size: 20px;
  margin: 0 8px;
  transition: all 0.38s ease;
}
.icons i:hover {
  transform: scale(1.2);
}
.box:hover {
  transform: translateY(-10px);
  cursor: pointer;
}

/* Dev team */

.team-dev {
  position: relative;
  width: 100%;
  background: radial-gradient(#281c3e, #0f051d);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.box-dev {
  padding: 16px;
  background: #1b1229;
  border-radius: 15px;
  transition: all 0.38s ease;
}

.team-content1 {
  width: 100%;
  max-width: 1350px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, auto));
  align-items: center;
  gap: 2rem;
  text-align: center;
  margin-top: 2rem;
}
.team-content1 img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin-bottom: 15px;
}

.box-dev:hover {
  transform: translateY(-10px);
  cursor: pointer;
}

/* sales team */

.team-sales {
  position: relative;
  width: 100%;
  height: 70vh;
  background: radial-gradient(#281c3e, #0f051d);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.box-sales {
  padding: 16px;
  background: #1b1229;
  border-radius: 15px;
  transition: all 0.38s ease;
}

.box-sales:hover {
  transform: translateY(-10px);
  cursor: pointer;
}

@media (max-width: 1240px) {
  .team {
    width: 100%;
    height: auto;
    padding: 90px 2%;
  }

  .team-dev {
    width: 100%;
    height: auto;
    padding: 90px 2%;
  }

  .team-sales {
    width: 100%;
    height: auto;
    padding: 90px 2%;
  }
  .center h3 {
    font-size: 3.2rem;
  }
}
